/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.ms_a {
    text-decoration: none;
    display: inline-block;
}

.ms_a:hover {
    color: white;
}


/* REGOLE HEADER */
#header-content {
    width: 100%;
    height: 70px;
}

#logo-small {
    width: 100%;
    height: 100%;
}

#logo-small img {
    /* max-width: 100%; */
    max-height: 100%;
}

#logo-big {
    width: 100%;
    height: 100%;
}

#logo-big img {
    max-width: 100%;
    height: 100%;
}

.form-control {
    background-color: #e9ecef;
    border-left: 0;
}

header .nav {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-padding-x: 0;
    gap: 25px;
}

header .nav-link {
    color: #5b5858;
}

header .btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-width:991px) {
    .md_no_display {
        display: none;
    }

}

@media screen and (min-width:992px) {
    .lg_no_display {
        display: none;
    }
}

/* REGOLE BARRA SINISTRA */
#bar-bg {
    width: 100%;
    background-color: #051e34;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
}

.bar-content {
    text-align: center;
}

.bar-content .nav {
    --bs-nav-link-padding-x: 0;
}

.bar-content .nav-link {
    color: white;
}

.bar-content .nav-link:hover {
    background-color: rgb(194, 194, 194);
}

.bar-content .md_no_display {
    padding-left: 20px;
}



/* REGOLE CONTENUTO CENTRALE */
#central-content {
    /* DEBUG */
    width: 100%;
    height: calc(100vh - 70px);
    background-color: yellow;
    overflow-y: auto;
}


/* regole sezione azzurra */

/* breadcrumbs */
.text-bg {
    background-color: #165bba;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
}

.breadcrumb-item + .no_divider::before {
    content: none;
}

/* offcanvas */
.offcanvas.offcanvas-end {
    width: 700px;
}

.form-control {
    background-color: white;
    border-left: 1px solid #ced4da;
}



/* regole contenuto sinistra */
.large_box {
    /* debug */
    width: 100%;
    min-height: 250px;
    background-color: bisque;
    border: 1px solid black;
}


/* regole contenuto destra */
.small_box {
    /* debug */
    width: 100%;
    min-height: 200px;
    background-color: crimson;
    border: 1px solid black;
}