/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


/* REGOLE HEADER */
#header-content {
    width: 100%;
    height: 70px;
    background-color: green;
}


/* REGOLE BARRA SINISTRA */
#bar-bg {
    width: 100%;
    background-color: blue;
    height: calc(100vh - 70px);
}

#bar-content {
    /* debug */
    width: 100%;
    min-height: 200px;
    background-color: orange;
    border: 1px solid black;
}

/* REGOLE CONTENUTO CENTRALE */
#central-content {
    /* DEBUG */
    width: 100%;
    height: calc(100vh - 70px);
    background-color: yellow;
}

/* regole sezione azzurra */
.ms_box {
    /* debug */
    width: 100%;
    min-height: 150px;
    background-color: blueviolet;
    border: 1px solid black;
}